<h1>{{title}}</h1>

<main>
	<ol>
		{{#each fitposts}}
			<li>
				<a href="/movie/{{fpID}}">
					{{Title}}
					<br />
					<img
						class="searchImage"
						alt="{{Title}} Poster"
						src="{{Poster}}"
					/>
				</a>
			</li>
		{{/each}}
	</ol>
</main>
