<h1>{{title}}</h1>


<ul class="fitposts" id={{userId}}>
	{{#each fitposts}}
	<li class="fitpost" id={{this.username}}>
		<h3 id="user{{addOne @index}}">{{this.username}}</h3>
		<button class="follow" id="follow{{addOne @index}}" data-part="{{this.user_id}}">Follow</button>
		<button class="unfollow" id="unfollow{{addOne @index}}" data-part="{{this.user_id}}">Unfollow</button>
		<p>Headwear:</p>
		<button class="closet" id="closet-{{this.headid}}">Save</button>
		<img src="{{this.headUrl}}" style="width: 200px; height: 200px" alt="head Image" />
		<p>Description: {{this.headDesc}}</p>
		<p>Clothing Source: {{this.headLink}}</p>
		<p>Bodywear:</p>
		<button class="closet" id="closet-{{this.bodyid}}">Save</button>
		<img src="{{this.bodyUrl}}" style="width: 200px; height: 200px" alt="head Image" />
		<p>Description: {{this.headDesc}}</p>
		<p>Clothing Source: {{this.headLink}}</p>
		<p>Legwear:</p>
		<button class="closet" id="closet-{{this.legid}}">Save</button>
		<img src="{{this.legUrl}}" style="width: 200px; height: 200px" alt="head Image" />
		<p>Description: {{this.headDesc}}</p>
		<p>Clothing Source: {{this.headLink}}</p>
		<p>Footwear:</p>
		<button class="closet" id="closet-{{this.footid}}">Save</button>
		<img src="{{this.footUrl}}" style="width: 200px; height: 200px" alt="head Image" />
		<p>Description: {{this.headDesc}}</p>
		<p>Clothing Source: {{this.headLink}}</p>
		<button class="like" id="like-{{this._id}}">Like Button</button>
		<button class="save" id="save-{{this._id}}">Add to Wardrobe</button>
		<p class="like_num" id="likenum-{{this._id}}">likes: {{likes}}</p>
		<!--<p class="save_num" id="savenum-{{this._id}}">saves: {{saves}}</p>-->
		<select class="wardrobe-select" id="dropdown-{{this._id}}">
			<option value="new">Create New Wardrobe</option>
			{{#each ../wardrobes}}
			<option value="{{this._id}}">{{this.wardrobeName}}</option>
			{{/each}}
		</select>


		<!-- New Folder Input (Hidden by default) -->
		<input type="text" class="new-wardrobe-input" id="input-{{this._id}}" placeholder="Enter wardrobe name"
			style="display: none;">

		<p>Posted Date: {{postedDate}}</p>
	</li>
	{{/each}}
</ul>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
	integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<script src="../../public/js/explore_page_interactions.js"></script>