<h1>{{title}}</h1>

<main>

	<ol class="fitposts">
		{{#each fitposts}}
		<div class="fitpost" id={{this._id}}>
			<h1>this is fitpost {{addOne @index}}</h1>
			<p>headwear</p>
			<img src="{{this.headUrl}}" width="200px;" height="200px" alt="head Image" />
			<p>bodywear:</p>
			<img src="{{this.bodyUrl}}" width="200px;" height="200px" alt="head Image" />
			<p>legwear:</p>
			<img src="{{this.legUrl}}" width="200px;" height="200px" alt="head Image" />
			<p>footwear:</p>
			<img src="{{this.footUrl}}" width="200px;" height="200px" alt="head Image" />
			<button class="like" id="like-{{this._id}}">Like Button</button>
			<button class="save" id="save-{{this._id}}">Save Button</button>
			<p>likes: {{likes}}</p>
			<p>saves: {{saves}}</p>

			<p>Posted Date: {{postedDate}}</p>
		</div>
		{{/each}}
	</ol>

</main>
<script src="../../public/js/explore_page_interactions.js"></script>