<main>
    <p>User ID: {{post.user_id}}</p>
    <p>Headwear: {{post.headwear}}</p>
    <p>Bodywear: {{post.bodywear}}</p>
    <p>Legwear: {{post.legwear}}</p>
    <p>Footwear: {{post.footwear}}</p>
    <p>Likes: {{post.likes}}</p>
    <p>Saves: {{post.saves}}</p>
</main>