<h1>Wardrobe</h1>

<div class="wardrobes">
  {{#each wardrobes}}
  <div class="wardrobe">
    <h2>{{wardrobeName}}</h2>

    <div class="wardrobe-preview">
      <div class="preview-content">
        <p>Head: <span id="preview-head-{{@index}}"></span></p>
        <button class="prev-button" data-part="head" data-index="{{@index}}">
          Previous Head
        </button>
        <button class="next-button" data-part="head" data-index="{{@index}}">
          Next Head
        </button>
      </div>

      <div class="preview-content">
        <p>Body: <span id="preview-body-{{@index}}"></span></p>
        <button class="prev-button" data-part="body" data-index="{{@index}}">
          Previous Body
        </button>
        <button class="next-button" data-part="body" data-index="{{@index}}">
          Next Body
        </button>
      </div>

      <div class="preview-content">
        <p>Legs: <span id="preview-leg-{{@index}}"></span></p>
        <button class="prev-button" data-part="leg" data-index="{{@index}}">
          Previous Legs
        </button>
        <button class="next-button" data-part="leg" data-index="{{@index}}">
          Next Legs
        </button>
      </div>

      <div class="preview-content">
        <p>Feet: <span id="preview-foot-{{@index}}"></span></p>
        <button class="prev-button" data-part="foot" data-index="{{@index}}">
          Previous Feet
        </button>
        <button class="next-button" data-part="foot" data-index="{{@index}}">
          Next Feet
        </button>
      </div>
    </div>

    <div class="fitposts">
      {{#each fitposts}}
      <div class="fitpost">
        <h3>{{this.username}}'s fitpost</h3>
        {{addOne @index}}
        <p>Headwear:</p>
        <img
          src="{{this.headUrl}}"
          style="width: 200px; height: 200px"
          alt="head Image"
        />
        {{!--
        <p>Description: {{this.headDesc}}</p>
        --}}
        <p>
          <a href="{{this.headLink}}" target="_blank">Link</a>
        </p>
        <p>Bodywear:</p>
        <img
          src="{{this.bodyUrl}}"
          style="width: 200px; height: 200px"
          alt="head Image"
        />
        {{!--
        <p>Description: {{this.bodyDesc}}</p>
        --}}
        <p>
          <a href="{{this.bodyLink}}" target="_blank">Link</a>
        </p>
        <p>Legwear:</p>
        <img
          src="{{this.legUrl}}"
          style="width: 200px; height: 200px"
          alt="head Image"
        />
        {{!--
        <p>Description: {{this.legDesc}}</p>
        --}}
        <p>
          <a href="{{this.legLink}}" target="_blank">Link</a>
        </p>
        <p>Footwear:</p>
        <img
          src="{{this.footUrl}}"
          style="width: 200px; height: 200px"
          alt="head Image"
        />
        {{!--
        <p>Description: {{this.footDesc}}</p>
        --}}
        <p>
          <a href="{{this.footLink}}" target="_blank">Link</a>
        </p>
        <p>likes: {{likes}}</p>
        <p>saves: {{saves}}</p>
        <p>Posted Date: {{postedDate}}</p>
      </div>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>

<script>
  var ward = {{{ wardrobesJson }}}
  var currentIndex = {};

  document.addEventListener("DOMContentLoaded", function () {
    // Initialize currentIndex for each wardrobe
    for (var i = 0; i < ward.length; i++) {
      currentIndex[i] = {
        head: 0,
        body: 0,
        leg: 0,
        foot: 0
      };
    }

    // Add event listeners to the buttons

    var nextButtons = document.getElementsByClassName("next-button");
    for (var i = 0; i < nextButtons.length; i++) {
      nextButtons[i].addEventListener("click", nextPiece);
    }

    var prevButtons = document.getElementsByClassName("prev-button");
    for (var i = 0; i < prevButtons.length; i++) {
      prevButtons[i].addEventListener("click", previousPiece);
    }

    updatePreviews();
  });

  function nextPiece(event) {
    var part = event.target.getAttribute("data-part");
    var index = event.target.getAttribute("data-index");
    currentIndex[index][part]++;

    // Reset the index back to 0 if it reaches the end of the array
    if (currentIndex[index][part] >= ward[index].fitposts.length) {
      currentIndex[index][part] = 0;
    }

    updatePreviews();
  }

  function previousPiece(event) {
    var part = event.target.getAttribute("data-part");
    var index = event.target.getAttribute("data-index");
    currentIndex[index][part]--;

    if (currentIndex[index][part] < 0) {
      currentIndex[index][part] = ward[index].fitposts.length - 1;
    }

    updatePreviews();
  }

  function updatePreviews() {
    var parts = ["head", "body", "leg", "foot"];

    for (var i = 0; i < ward.length; i++) {
      for (var j = 0; j < parts.length; j++) {
        var part = parts[j];
        var imageUrl = ward[i].fitposts[currentIndex[i][part]][part + "Url"];
        var imageTag = '<img style="width: 200px; height: 200px" src="' + imageUrl + '" alt="' + part + ' Image">';
        document.getElementById("preview-" + part + "-" + i).innerHTML = imageTag;
      }
    }
  }
</script>
