<h1>My Page</h1>

<form id="createFitpost">
    <label for="headwear">Headwear</label>
    <div id="headwear-slider">
        <button>Prev</button>
        <button>Next</button>
        {{#each head}}
        <img data-id="{{this.piece_id}}" src="{{this.url}}">
        {{/each}}
    </div>
    <input type="hidden" id="headwear" name="headwear" value="">
    <label for="bodywear">Bodywear</label>
    <div id="bodywear-slider">
        {{#each body}}
        <img data-id="{{this.piece_id}}" src="{{this.url}}">
        {{/each}}
    </div>
    <input type="hidden" id="bodywear" name="bodywear" value="">
    <label for="legwear">Legwear</label>
    <div id="legwear-slider">
        {{#each leg}}
        <img data-id="{{this.piece_id}}" src="{{this.url}}">
        {{/each}}
    </div>
    <input type="hidden" id="legwear" name="legwear" value="">
    <label for="footwear">Footwear</label>
    <div id="footwear-slider">
        {{#each foot}}
        <img data-id="{{this.piece_id}}" src="{{this.url}}">
        {{/each}}
    </div>
    <input type="hidden" id="footwear" name="footwear" value="">
</form>